:host {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    // border: solid 3px yellow; /* for debugging purposes */
  }

  // img {
  //   // max-width: 10%;
  //   // height: auto;
  //   // border: solid 3px yellow; /* for debugging purposes */
  // }

  .draggable {
    position: absolute;
    width: fit-content;
    block-size: fit-content;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    // border: solid 3px red; /* for debugging purposes */
  }
